include LICENCE RELEASE-NOTES AUTHORS
include README.md
include electrum.desktop
include *.py
include run_electrum
include requirements.txt
include requirements-fixed.txt
include requirements-binaries.txt
recursive-include electrum *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include icons.qrc
recursive-include icons *
recursive-include scripts *